/*@import "tailwindcss";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
    position: fixed; /* Fixes position relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    display: flex;
    align-items: center; /* Centers the modal content vertically */
    justify-content: center; /* Centers the modal content horizontally */
}

.modal-main {
    background: white;
    padding: 1px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%; /* Ensures responsiveness */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


